blinker
Bootstrap-Flask
certifi
cffi
charset-normalizer
click
colorama
cryptography
Flask
Flask-WTF
google-api-python-client
google-auth
google-auth-httplib2
gunicorn
httplib2
idna
itsdangerous
Jinja2
joblib
MarkupSafe
numpy
packaging
pandas
pyasn1
pyasn1_modules
pycparser
pyparsing
python-dateutil
requests
scikit-learn
scipy
six
tensorflow-cpu
threadpoolctl
tzdata
uritemplate
urllib3
Werkzeug
WTForms
python-dotenv